.to-do-list{
  font-family: Arial,  sans-serif;
  text-align: center;
  margin-top: 100px;

}

h1{
  font-size: 4rem;

}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}


.add-btn{
  background-color: hsl(125, 47%, 60%);

}

.add-btn:hover{
   background-color: hsl(125, 47%, 50%);
}
.delete-btn{
  background-color: hsl(10, 90%, 60%);
}
.delete-btn:hover{
   background-color:hsl(10, 90%, 50%);
}

.move-btn{
  background-color: hsl(207, 90%, 60%);
}
.move-btn:hover{
  background-color: hsl(207, 90%, 50%);
}