body{
  background-color: beige;
}

.to-do-list{
  font-family: Arial,  sans-serif;
  text-align: center;
  margin-top: 100px;

}

h1{
  font-size: 4rem;

}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}


.add-btn{
  background-color: hsl(125, 47%, 60%);

}

.add-btn:hover{
   background-color: hsl(125, 47%, 50%);
}
.delete-btn{
  background-color: hsl(10, 90%, 60%);
}
.delete-btn:hover{
   background-color:hsl(10, 90%, 50%);
}

.move-btn{
  background-color: hsl(207, 90%, 60%);
}
.move-btn:hover{
  background-color: hsl(207, 90%, 50%);
}

input [type = "text"] {
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol{
  padding: 0;

}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  display: flex;
  align-items: center;
}

.text{
  flex: 1;

}

.delete-btn, .move-btn{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}